body {
    background-image: linear-gradient(skyblue, navy);
    color: black;
    margin: 25px 15px 45px 15px;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    letter-spacing: 3px;
}
/* TEXT:   TITLE:  CALCULATINGS INVOLVING SQUARE ROOTS */
h1 {
    font-size: 2rem;
    color: black;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
/* TEXT:    PARAGRAPH 1  INTRO AND MAIN FORMATTING  */
#para1 {
    font-size: 2rem;
    color: black;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}
/* IMAGE:    MULTIPLICATION TABLE */
#multiplicationTable {
    width: 30%;
    height: auto;
    border: 2px black solid;
}
/* IMAGE:  MULTIPLICATION WITH PERFECT SQUARES HIGHLIGHTED IN RED */
#perfectSquareTable {
    width: 35%;
    height: auto;
    margin-right: 10px;
    margin-left: 0px;
    border: 2px black solid;
}
#squareImage {
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
}
/* TEXT:  "AREA OF A SQUARE FORMULA" */
#para2 {
    font-size: 2rem;
    color: lightgreen;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Indie Flower', cursive;
}
/* IMAGE:    EXAMPLE OF AREA PROBLEMS FOR STUDENTS TO TRY */
#areaCalc1, #areaCalc2, #areaCalc3, #areaCalc4 {
    width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15px;
    margin-bottom: 15px;

}
/* TEXT INPUT:  USER EXAMPLE ANSWERS INPUT BOXES */
#input1, #input2, #input3, #input4 {
    width: 10%;
    height: auto;
    margin-right: 45%;
    margin-left: 45%;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 1.5rem;
    color: black;
    font-family: 'Shadows Into Light', cursive;
    background-color: lightgreen;
    border: 2px black solid;
    padding: 15px;
    text-align: center;
}
/* SUBMIT BUTTONS FOR PROBLEMS 4-8 */
#myBtn1, #myBtn2, #myBtn3, #myBtn4 {
    width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15px;
    font-size: 1.5rem;
    font-family: 'Shadows Into Light', cursive;
    color: black;
    background-color: lightgreen;
    border: 2px black solid;
    padding: 15px;
}
/* TEXT OUTPUT: ANSWERS TO PROBLEMS 1-4 */
#demo1, #demo2, #demo3, #demo4 {
    width: 10%;
    height: 50px;
    margin-right: 45%;
    margin-left: 45%;
    font-size: 1.5rem;
    color: black;
    font-family: 'Shadows Into Light', cursive;
    background-color: lightgreen;
    border: 2px black solid;
    padding: 15px;
    text-align: center;
}
/* IMAGE:    GIVEN THE AREA OF A SQUARE, FIND THE SQUARE ROOT */
#practice1, #practice2, #practice3, #practice4 {
    width: 10%;
    height: auto;
    margin: 15px 45% 15px 45%;
}
/* BUTTON:  CHECK THE AREA TO SIDE LENGTHS PRACTICE PROBLEMS */
#btnSquareRoot, #btnSquareRoot2, #btnSquareRoot3, #btnSquareRoot4 {
    width: 20%;
    height: 69px;
    font-size: 1.5rem;
    color: black;
    font-family: 'Indie Flower', cursive;
    background-color: #99FFCC;
    border: 2px black solid;
    padding: 15px;
    text-align: center;
    margin: 15px 40% 15px 40%;
}
#demo5, #demo6, #demo7, #demo8, #demo9 {
    width: 10%;
    height: 40px;
    font-size: 1.3rem;
    color: black;
    text-align: center;
    background-color: #99FFCC;
    border: 2px black solid;
    margin: 0px 45% 15px 45%;
    padding: 15px;
    display: inline-block;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}
/* STUDENT PRACTICE SECTION AT END */
#practiceSection {
    width: 80%;
    height: 40%;
    color: lightgreen;
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    table-layout: auto;
    text-align: center;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px black solid;
    margin-top: 15px;
    background-color: lightslategray;
    border: 2px black solid;
    outline: 2px aquamarine double;
}
/* IMAGE:    SQUARE ROOT symbol */
#radicalSymbol {
    width: 5%;
    height: auto;
}
/* BUTTON:   SUBMIT TO SEE SOLUTIONS */
#solutionButton {
    width: 20%;
    height: 10%;
    color: lightgreen;
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    border: 2px black solid;
    outline: 2px lightgreen solid;
    margin-left: 40%;
    margin-right: 40%;
    background-color: slategray;
    margin-top: 15px;
}
/* TEXT: PARAGRAPH :  "IMAGE: SOLUTIONS TO CHECK YOUR ANSWERS" */
#seeMore {
    width: 80%;
    height: auto;
    background-color: #99FFCC;
    border: 2px black solid;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    font-size: 2rem;
    display: inline-block;
    align-content: center;
}
/* Button:    
/* ANSWERS TO FINAL PRACTICE SECTION */
#p2 {
    width: 40%;
    height: auto;
    color: lightgreen;
    text-align: center;
    padding: 20px;
    border: 1px black solid;
    margin: 25px 30% 15px 30%;
    background-color: lightslategray;
    outline: 2px lightgreen double;
}
/* 2nd to last BUTTON:    CHECK YOUR ANSWERS */
#solutionButton {
    width: 30%;
    height: 20%;
    color: lightgreen;
    font-size: 1.8rem;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 25px;
    background-color: lightslategray;
    border: 2px black solid;
    outline: 2px aquamarine double;
}
/* BUTTON:    CLOSE */
#endBtn {
    width: 20%;
    height: 20%;
    color: lightgreen;
    font-size: 1.8rem;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15px;
    background-color: lightslategray;
    border: 2px black solid;
    outline: 2px lightgreen double;
}
footer {
    font-size: 1rem;
    color: lightgreen;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 20px;
}